:root {
  --radius: 16px;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

.navbar {
  background: #fff !important;
}

.card {
  border-radius: var(--radius) !important;
}

.btn {
  border-radius: 12px;
}

main.container {
  max-width: 1100px;
}
